<a href="https://colab.research.google.com/github/prince6730/CodeClause_Credit_Card_Fraud_Detection/blob/main/Credit_Card_Fraud_Detection_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# loading the dataset to pandas dataframe

credit_card_data = pd.read_csv('/content/creditcard.csv')

In [3]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [4]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
3968,3617,1.134592,0.252051,0.488592,0.799826,-0.264819,-0.369918,-0.243365,0.049761,1.210818,...,-0.351115,-0.851463,0.186169,0.092463,0.020015,0.057976,-0.046611,0.012562,13.99,0.0
3969,3621,-1.338671,1.080974,1.291196,0.719258,0.101320,0.053896,0.001297,-0.917575,1.638510,...,0.498030,-0.483932,0.037686,0.053566,-0.560078,0.230423,-0.119911,0.321847,27.43,0.0
3970,3622,-0.339728,-2.417449,0.975517,2.537995,-1.720361,0.863005,0.032965,0.026764,2.487139,...,0.391639,0.264432,-0.735031,0.450594,0.310022,-0.231357,-0.049872,0.153526,730.32,0.0
3971,3623,-0.368639,0.947432,1.707755,0.932092,0.292956,0.189100,0.499330,0.132466,0.779412,...,-0.119045,0.056665,-0.172703,0.170073,0.139605,-0.420518,0.033794,0.005996,6.87,0.0
3972,3624,-0.663445,1.162921,1.508050,0.549405,0.231377,-0.106041,0.817977,-0.387026,1.488054,...,-0.420337,-0.361357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3973 entries, 0 to 3972
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    3973 non-null   int64
 1   V1      3973 non-null   float64
 2   V2      3973 non-null   float64
 3   V3      3973 non-null   float64
 4   V4      3973 non-null   float64
 5   V5      3973 non-null   float64
 6   V6      3973 non-null   float64
 7   V7      3973 non-null   float64
 8   V8      3973 non-null   float64
 9   V9      3973 non-null   float64
 10  V10     3973 non-null   float64
 11  V11     3973 non-null   float64
 12  V12     3973 non-null   float64
 13  V13     3973 non-null   float64
 14  V14     3973 non-null   float64
 15  V15     3973 non-null   float64
 16  V16     3973 non-null   float64
 17  V17     3973 non-null   float64
 18  V18     3973 non-null   float64
 19  V19     3973 non-null   float64
 20  V20     3973 non-null   float64
 21  V21     3973 non-null   float64
 22  V22     3973 non-null   float64
 23  V23     3972 non-null   float64
 24  V24     3972 non-null   float64
 25  V25     3972 non-null   float64
 26  V26     3972 non-null   float64
 27  V27     3972 non-null   float64
 28  V28     3972 non-null   float64
 29  Amount  3972 non-null   float64
 30  Class   3972 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 962.3 KB

In [6]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [7]:
# distribution of legit transactions and fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    3970
1.0       2
Name: Class, dtype: int64

This dataset is highly unbalanced

0 ----> Normal Transaction

1 ----> Fraudulent Transaction

In [8]:
#separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [9]:
print(legit.shape)
print(fraud.shape)

(3970, 31)
(2, 31)

In [10]:
# statistical measure for data
legit.Amount.describe()

count    3970.000000
mean       64.899597
std       213.612570
min         0.000000
25%         2.270000
50%        12.990000
75%        54.990000
max      7712.430000
Name: Amount, dtype: float64

In [11]:
fraud.Amount.describe()

count      2.000000
mean     264.500000
std      374.059487
min        0.000000
25%      132.250000
50%      264.500000
75%      396.750000
max      529.000000
Name: Amount, dtype: float64

In [12]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,1638.828463,-0.332459,0.308935,0.837446,0.011432,-0.029468,0.053530,0.147357,-0.071642,0.056211,...,0.059567,0.010282,-0.082957,-0.058743,0.029114,0.095244,-0.012637,0.044658,0.002668,64.899597
1.0,439.000000,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.500000

Under-sampling

Build a similar dataset containing similar distribution of normal transactions and fraudulent transactions

Number of fraudulent transactions = 492

In [13]:
legit_sample = legit.sample(n=492)

Concatenating the two dataframe

In [14]:
new_dataset = pd.concat([legit_sample, fraud], axis=0) # row wise concatenation axis=0

In [15]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
606,459,1.294157,1.132084,-2.148605,1.230031,1.447894,-0.767676,0.575635,-0.094475,-0.454617,...,-0.257463,-0.726440,-0.374828,-1.358994,0.968892,-0.225584,0.027084,0.071322,2.99,0.0
3705,3173,1.070572,-0.946432,-0.568096,-0.845766,1.226282,3.908840,-1.099096,1.027884,1.063694,...,-0.225734,-0.772148,-0.044776,1.082541,0.257928,0.947014,-0.050650,0.025228,110.14,0.0
2779,2321,1.123532,0.028492,1.435343,1.413964,-1.067324,-0.364885,-0.490355,0.020726,0.739317,...,-0.028955,0.154828,0.022639,0.745746,0.399080,-0.432710,0.077806,0.044113,12.99,0.0
661,499,1.355790,-1.122921,1.191187,-0.576548,-1.708750,0.274721,-1.640785,0.295838,0.618649,...,0.302035,0.920013,-0.210219,-0.435499,0.450803,0.068454,0.062214,0.022191,22.83,0.0
2124,1634,1.075019,-0.257287,1.195543,1.735827,-0.822148,0.570728,-0.617130,0.356204,1.443170,...,-0.428928,-0.824378,0.098087,0.046949,0.382196,-0.505682,0.082644,0.026379,12.61,0.0

In [16]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
2667,2208,1.261687,0.271007,0.034487,0.417802,0.003910,-0.359279,-0.044338,-0.001393,-0.150028,...,-0.283421,-0.860399,0.034229,-0.402656,0.271106,0.120285,-0.029089,0.013242,1.79,0.0
1312,1029,1.309487,0.193408,-0.330401,0.325058,0.407287,0.174885,-0.087960,0.081274,0.276572,...,-0.363105,-1.056001,-0.002890,-1.395887,0.295913,0.214228,-0.015134,0.011194,2.58,0.0
533,402,-0.160626,-0.064459,2.531072,-1.328268,-0.970430,0.185030,-0.380184,0.078119,1.775956,...,0.262124,1.340696,-0.253860,0.178601,-0.491121,0.244972,0.074829,-0.069924,0.01,0.0
541,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1.0
623,472,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1.0

In [17]:
new_dataset['Class'].value_counts()

0.0    492
1.0      2
Name: Class, dtype: int64

In [18]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,1600.914634,-0.240529,0.192061,0.754669,-0.023618,-0.003437,0.022181,0.089714,-0.051507,0.035260,...,0.070705,-0.003533,-0.079480,-0.059586,0.001555,0.088872,0.036916,0.033045,-0.007448,68.900671
1.0,439.000000,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.500000

Splitting the data into Features and Targets

In [19]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [20]:
print(X)

      Time        V1        V2        V3        V4        V5        V6  \
606    459  1.294157  1.132084 -2.148605  1.230031  1.447894 -0.767676
3705  3173  1.070572 -0.946432 -0.568096 -0.845766  1.226282  3.908840
2779  2321  1.123532  0.028492  1.435343  1.413964 -1.067324 -0.364885
661    499  1.355790 -1.122921  1.191187 -0.576548 -1.708750  0.274721
2124  1634  1.075019 -0.257287  1.195543  1.735827 -0.822148  0.570728
...    ...       ...       ...       ...       ...       ...       ...
2667  2208  1.261687  0.271007  0.034487  0.417802  0.003910 -0.359279
1312  1029  1.309487  0.193408 -0.330401  0.325058  0.407287  0.174885
533    402 -0.160626 -0.064459  2.531072 -1.328268 -0.970430  0.185030
541    406 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623    472 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823

            V7        V8        V9  ...       V20       V21       V22  \
606   0.575635 -0.094475 -0.454617  ... -0.046194 -0.257463 -0.726440
3705 -1.099096  1.027884  1.063694  ...  0.252262 -0.225734 -0.772148
2779 -0.490355  0.020726  0.739317  ... -0.082392 -0.028955  0.154828
661  -1.640785  0.295838  0.618649  ...  0.020548  0.302035  0.920013
2124 -0.617130  0.356204  1.443170  ... -0.286207 -0.428928 -0.824378
...        ...       ...       ...  ...       ...       ...       ...
2667 -0.044338 -0.001393 -0.150028  ... -0.060068 -0.283421 -0.860399
1312 -0.087960  0.081274  0.276572  ... -0.129801 -0.363105 -1.056001
533  -0.380184  0.078119  1.775956  ...  0.130322  0.262124  1.340696
541  -2.537387  1.391657 -2.770089  ...  0.126911  0.517232 -0.035049
623   0.325574 -0.067794 -0.270953  ...  2.102339  0.661696  0.435477

           V23       V24       V25       V26       V27       V28  Amount
606  -0.374828 -1.358994  0.968892 -0.225584  0.027084  0.071322    2.99
3705 -0.044776  1.082541  0.257928  0.947014 -0.050650  0.025228  110.14
2779  0.022639  0.745746  0.399080 -0.432710  0.077806  0.044113   12.99
661  -0.210219 -0.435499  0.450803  0.068454  0.062214  0.022191   22.83
2124  0.098087  0.046949  0.382196 -0.505682  0.082644  0.026379   12.61
...        ...       ...       ...       ...       ...       ...     ...
2667  0.034229 -0.402656  0.271106  0.120285 -0.029089  0.013242    1.79
1312 -0.002890 -1.395887  0.295913  0.214228 -0.015134  0.011194    2.58
533  -0.253860  0.178601 -0.491121  0.244972  0.074829 -0.069924    0.01
541  -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276    0.00
623   1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00

[494 rows x 30 columns]

In [21]:
print(Y)

606     0.0
3705    0.0
2779    0.0
661     0.0
2124    0.0
       ...
2667    0.0
1312    0.0
533     0.0
541     1.0
623     1.0
Name: Class, Length: 494, dtype: float64

Split the data into Training data and Testing data

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [23]:
print(X.shape, X_train.shape, X_test.shape)

(494, 30) (395, 30) (99, 30)

Model Training

Logistic Regression

In [24]:
model = LogisticRegression()

In [25]:
# training the logistic regression with the training data
model.fit(X_train, Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Data

In [26]:
# Accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [27]:
print('Accuracy on training data:', training_data_accuracy)

Accuracy on training data: 1.0

In [28]:
# Accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [29]:
print('Accuracy on test data:', test_data_accuracy)

Accuracy on test data: 1.0